
.vscode/launch.json
.vscode/tasks.json
bin/Debug/net6.0/Kalkulator-Sederhana-CSharp.deps.json
bin/Debug/net6.0/Kalkulator-Sederhana-CSharp.dll
bin/Debug/net6.0/Kalkulator-Sederhana-CSharp.exe
bin/Debug/net6.0/Kalkulator-Sederhana-CSharp.pdb
bin/Debug/net6.0/Kalkulator-Sederhana-CSharp.runtimeconfig.json
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/apphost.exe
obj/Debug/net6.0/Kalkulator-Sederhana-CSharp.AssemblyInfo.cs
obj/Debug/net6.0/Kalkulator-Sederhana-CSharp.AssemblyInfoInputs.cache
obj/Debug/net6.0/Kalkulator-Sederhana-CSharp.assets.cache
obj/Debug/net6.0/Kalkulator-Sederhana-CSharp.csproj.AssemblyReference.cache
obj/Debug/net6.0/Kalkulator-Sederhana-CSharp.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/Kalkulator-Sederhana-CSharp.csproj.FileListAbsolute.txt
obj/Debug/net6.0/Kalkulator-Sederhana-CSharp.dll
obj/Debug/net6.0/Kalkulator-Sederhana-CSharp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/Kalkulator-Sederhana-CSharp.genruntimeconfig.cache
obj/Debug/net6.0/Kalkulator-Sederhana-CSharp.GlobalUsings.g.cs
obj/Debug/net6.0/Kalkulator-Sederhana-CSharp.pdb
obj/Debug/net6.0/ref/Kalkulator-Sederhana-CSharp.dll
obj/Debug/net6.0/refint/Kalkulator-Sederhana-CSharp.dll
obj/Kalkulator-Sederhana-CSharp.csproj.nuget.dgspec.json
obj/Kalkulator-Sederhana-CSharp.csproj.nuget.g.props
obj/Kalkulator-Sederhana-CSharp.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
